<div class="row">
    <div class="col-md-6 p-3 text-center">
        <img [src]="recipe.img" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h1 class="display-4">{{recipe.title}}</h1>
        <h4>Zeit</h4>
        30 min. Gesamt<br>
        15 min. Zubereitung<br>
        15 min. Kochen<br>
        <h4>Kategorie</h4>
        <a href="#">Beilagen</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <h2>Zutaten</h2>
        <table class="table table-sm table-striped">
            <tbody>
                <tr *ngFor="let ingredient of recipe.ingredients; let i = index">
                    <!--
                    <td><img [src]="ingredient.details.img" height="40px"></td>
                    -->
                    <td class="text-right">{{ingredient.anzahl}}</td>
                    <td>{{ingredient.details.einheit}}</td>
                    <td>{{ingredient.details.title}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <h2>Zubereitung</h2>
        <table class="table table-sm table-striped">
            <tbody>
                <tr *ngFor="let step of recipe.steps;let i = index">
                    <td>{{(i+1)}}</td>
                    <td>{{step}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
