<div class="app-login-page">
    <div fxLayout="row">
        <span fxFlex></span>
        <mat-expansion-panel disabled [expanded]="true" class="login-window">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Please login to continue
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="formGroup">
                <div fxLayout="column">
                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Username or email</mat-label>
                        <input type="text" matInput placeholder="Usename or email" formControlName="username" autofocus>
                        <mat-hint>Please enter your username</mat-hint>
                        <mat-error *ngIf="hasError('username', 'required')">
                            Username is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="standard" fxFlex>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-hint>Please enter your password</mat-hint>
                        <mat-error *ngIf="hasError('password', 'required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="form-button-row" fxFlex>
                        <button type="submit" mat-stroked-button color="primary" (click)="onSubmitBtnClick($event)"
                            [disabled]="formSubmitted ? true : null">
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <span fxFlex></span>
    </div>
    <div fxLayout="row">
        <span fxFlex></span>
        <div class="my-panel my-login-panel">
            <div class="my-panel-header" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon>menu</mat-icon>
                <span fxFlex class="my-panel-header-title">Ein wunderbarer Titel</span>
                <mat-icon>menu</mat-icon>
            </div>
            <div class="my-panel-body">
                <p>Hier ist ein toller Inhalt</p>
            </div>
            <div class="my-panel-footer">
                <button mat-stroked-button>Abbrechen</button>
                <button mat-stroked-button color="primary">Speichern</button>
            </div>
        </div>
        <span fxFlex></span>
    </div>
</div>