<div class="loading-indicator" *ngIf="false">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-toolbar color="accent">
            <app-menu (menuClose)="onMenuClose()"></app-menu>
        </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="min-height: 100vh" fxLayout="column">
            <header class="header">
                <mat-toolbar color="primary" fxLayout="row" class="mat-elevation-z8">
                    <span class="spacer" fxFlex fxHide.sm>
                    </span>
                    <span fxFlex.gt-sm="920px" fxFlex="grow">
                        <app-header (menuOpen)="onMenuOpen()"></app-header>
                    </span>
                    <span class="spacer" fxFlex fxHide.sm>
                    </span>
                </mat-toolbar>
            </header>
            <div role="main" fxFlex class="app-main">
                <span class="spacer" fxFlex fxHide.sm></span>
                <span fxFlex.gt-sm="920px" fxFlex="grow" class="app-main-content">
                    <router-outlet></router-outlet>
                </span>
                <span class="spacer" fxFlex fxHide.sm></span>
            </div>
            <footer class="footer mat-elevation-z8" fxLayout="row" fxLayoutAlign="center center">
                <span class="spacer" fxFlex fxHide.sm></span>
                <span fxFlex.gt-sm="920px" fxFlex="grow">
                    <app-footer></app-footer>
                </span>
                <span class="spacer" fxFlex fxHide.sm></span>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
