<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-toolbar color="accent">
            <button mat-icon-button aria-label="Back" (click)="sidenav.close()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span>Menu</span>
        </mat-toolbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="min-height: 100vh" fxLayout="column">
            <header>
                <mat-toolbar color="primary" fxLayout="row" class="mat-elevation-z8">
                    <span fxFlex fxHide.sm>
                    </span>
                    <span fxFlex.gt-sm="920px" fxFlex="grow">
                        <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
                            <mat-icon>menu</mat-icon>
                        </button>
                        <span>Welcome to FCB</span>
                        <span fxFlex></span>
                        <button mat-icon-button aria-label="Account">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="Logout">
                            <mat-icon>logout</mat-icon>
                        </button>
                    </span>
                    <span fxFlex fxHide.sm>
                    </span>
                </mat-toolbar>
            </header>
            <div role="main" fxFlex>

            </div>
            <footer class="my-footer mat-elevation-z8" fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex></span>
                <span fxFlex.gt-sm="920px" fxFlex="grow">
                    <span fxFlex></span>
                    <span>
                        &copy; 2021 by JVM
                    </span>
                </span>
                <span fxFlex></span>
            </footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
